// =========================================
//  VARIABLES
// =========================================

$white: white;

$color-primary: #DB3773;
$color-primary-dark: darken($color-primary, 30%);
$color-secondary: #341D82; 
$color-secondary-dark: darken($color-secondary, 30%);

$color-text: $white;
$color-text-body: $color-secondary;

$color-bg-primary: $color-primary;
$color-bg-secondary: $color-secondary;
$color-bg-light: $white;

$font-stack-primary: 'Open Sans', sans-serif;

$font-weight-heading: 700;
$font-weight-body: 400;

$drop-shadow: '';
$border-radius: 5px;
$transition: 0.3s;

$max-width: 1000px;

$breakpoint-small: 575px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-x-large: 1400px;

// =========================================
//  MIXINS
// =========================================

// Slanted effect
@mixin skewed {
  position: relative;
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 50px; 
    position: absolute;
    transform: skewY(-2deg);
    @content;
  }
}

// Center containers
@mixin center {
  width: 90%;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
}

// =========================================
//  FUNCTIONS
// =========================================

// Converting a px measurements to rem.
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

// =========================================
//  BASE
// =========================================

* {
  box-sizing: border-box;
}

body {
  color: $color-text;
  font-size: 20px;
  line-height: 1.5;
  font-family: $font-stack-primary;
  text-align: center;
  margin: 0;
}

h1,
h2 {
  font-family: $font-stack-primary;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

p {
  margin-bottom: 1.25em;
  .intro & {
    font-size: 1.2em;
  }
}

a {
  color: $color-primary;
  text-decoration: none;
  &:hover {
    color: $color-secondary;  
  }
}

// =========================================
//  HEADER, NAV, & FOOTER
// =========================================

header {
  height: 460px;
  background: linear-gradient($color-bg-light, $color-bg), 
              url('../img/bg.jpg') no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
  h1 {
    color: $white;
    font-size: 4.8em;
    margin-bottom: 0;
    letter-spacing: 1px;
  }
  p {
    color: $color-accent;
    font-size: 1.25em;
    margin: 0;
  }
  @include skewed {
    background-color: $white;
    bottom: -25px;
  }
}

footer {
  padding: 8px 32px;
  background-color: $color-bg-secondary;
  margin-top: 0;
  @include skewed {
    background-color: $color-bg-secondary;
    top: -25px;
  }
}

// =========================================
//  CONTAINERS
// =========================================

.inner {
  padding: 0.5em 1em;
}

.intro {
  margin: auto;
  padding: 1em 1em 3em; 
}

// =========================================
//  OTHER COMPONENTS
// =========================================

.main-nav {
  margin-top: 1em;
  li {
    display: inline-block;
    margin: 0 0.65em;
  }
  a {
    color: $white;
    font-size: 0.85em;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5em;
    transition: 0.3s;
    &:hover {
      color: $color-accent;  
    }
  }
}

.img-featured {
  width: 165px;
  border: 4px solid $white; 
  border-radius: 50%;
  margin-top: 75px;
  position: relative;
  z-index: 100;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1.5em 1em;
  border: 1px solid $color-shade;
  border-radius: 0.25em;
  h1 {
    margin: 0.35em 0 0;
    line-height: 1.25;
  }  
  .icon,
  h1 {
    color: $color-primary;
  }
}

%clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }  
}

%btn {
  color: $white;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.75em 1.5em;
  border-radius: 0.35em;
  &:hover {
    color: $white;
    opacity: 0.8;
  }
  &:active {
    opacity: initial;
  }
}

.btn {
  &-callout {
    @extend %btn;
    font-size: 1.1em;
    background-color: $color-secondary;
  }
  &-info {
    @extend %btn;
    font-size: 0.85em;
    background-color: $color-primary;  
    margin-top: auto;
  }
}

// =========================================
//  MEDIA QUERIES
// =========================================

@media (min-width: $breakpoint-small) {
  header {
    height: 340px;
    h1 {
      font-size: 3.4em;
    }
  }
  .img-featured {
    display: none;
  }
}

@media (min-width: $breakpoint-medium) {
  .main-content {
    display: flex;
    flex-wrap: wrap;
  }  
  .card {
    flex: 1;
  }
}

@media (min-width: $breakpoint-large) {
  .main-content {
    @include center;
  }
}

@media (min-width: $breakpoint-x-large) {
  header {
    background-position: 0 0, 0 45%;
  }
  .intro {
    width: 45%;
  }
}
