// =========================================
//  VARIABLES
// =========================================

$white: white;

$color-primary: #DB3773;
$color-primary-dark: darken($color-primary, 30%);
$color-secondary: #341D82; 
$color-secondary-dark: darken($color-secondary, 10%);
$color-accent: #110A2B;

$color-text-light: $white;
$color-text-medium: $color-secondary;
$color-text-dark: $color-accent;

$color-bg-primary: $color-primary; 
$color-bg-secondary: $color-secondary;
$color-bg-light: $white;

$color-mobile-menu: $color-secondary;

$font-stack-primary: 'Open Sans', sans-serif;
$font-size-body: 20px;
$font-weight-heading: 600;
$font-weight-body: 300;
$font-line-height: 1.5;

$box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
$drop-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);

$border-radius: 5px;
$transition-duration: 0.3s;

$max-width: 1000px;

$breakpoint-small: 575px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-x-large: 1400px;

// =========================================
//  MIXINS
// =========================================

// Center containers
@mixin center {
  width: 90%;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
}

// =========================================
//  FUNCTIONS
// =========================================

// Converting a px measurements to rem.
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

// =========================================
//  BASE
// =========================================

* {
  box-sizing: border-box;
}

body {
  background-color: $color-primary;
  color: $color-text-light;
  font-size: $font-size-body;
  line-height: $font-line-height;
  font-family: $font-stack-primary;
  margin: 0;
}

h1,
h2 {
  font-weight: $font-weight-heading;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin-bottom: 1.25em;
  color: $color-text-light;
  &.intro {
    font-size: 20px;
    font-weight: $font-weight-body;
    margin-bottom: 36px;
  }
}

a {
  color: $color-primary;
  text-decoration: none;
  &:hover {
    color: $color-secondary;  
  }
}

// =========================================
//  HEADER, NAV, & FOOTER
// =========================================

header {
  padding-top: 40px;
  position: relative;
  transition: $transition-duration;
  svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75px;
    polygon {
      fill: $color-bg-primary;
    }
  }
  & > div {
    position: relative;
  }
  .menu-toggle {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 36px;
    top: 5px;
    &:hover {
      cursor: pointer;
    }
  }
  &.menu-open {
    height: 460px;
    background-color: $color-mobile-menu;
    .main-nav,
    svg {
      display: initial;
    }
    .menu-toggle {
      background-image: url(../../images/icons/close.svg);
    }
  }
  &.menu-closed {
    background-color: transparent;
    .main-nav,
    svg {
      display: none;
    }
    .menu-toggle {
      width: 27px;
      background-image: url(../../images/icons/hamburger.svg);
    }
  }
  .inner {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .logo {
    color: $white;
    font-size: 20px;
    font-weight: $font-weight-body;
    margin: 0 0 48px 0;
    letter-spacing: 1px;
    text-align: center;
  }
  .main-nav {
    display: flex;
    flex-direction: column;
    align-content: center;
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 156px;
    }
    li {
      display: block;
      width: 100%;
      text-align: center;
    }
    a {
      color: $white;
      font-size: 18px;
      font-weight: $font-weight-heading;
      text-decoration: none;
      padding: 16px 0;
      transition: $transition-duration;
      display: block;
      width: 100%;
      &:hover {
        text-decoration: underline;  
      }
    }
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color-bg-secondary;
  color: $color-text-light;
  p {
    margin: 0;
    font-size: 14px;
  }
  .social-nav {
    ul {
      display: flex;
    }
    li {
      margin: 12px 0 12px 16px;
    }
    .img-icon {
      margin: 0;
      vertical-align: middle;
    }
    a {
      transition: $transition-duration;
      justify-self: center;
      &:hover {
        color: $color-primary;  
      }
    }
  }
}

// =========================================
//  CONTAINERS
// =========================================

.inner {
  padding: 0 36px;
}

// =========================================
//  OTHER COMPONENTS
// =========================================

.tagline {
  font-size: 36px;
  margin: 36px 0 36px 0;
}

.img-featured,
.img-technologies {
  width: 100%;
  filter: drop-shadow($drop-shadow);
}

.img-technologies {
  margin-bottom: 40px;
}

.technologies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 48px;
}

.img-technologies-wrapper {
  display: flex;
  align-content: center;
  justify-content: center;
}

.img-technologies-logo {
  width: 100%;
}

.section-title {
  text-align: center;
  margin: 0 16px 40px 16px;
  font-size: 22px;
  font-weight: $font-weight-heading;
}

.skills .card {
  padding-top: 48px;
  padding-bottom: 48px; 
}

section.skills .card{
  margin-bottom: 0;
}

.card {
  background-color: $white;
  color: $color-text-medium;
  padding-top: 40px;
  padding-bottom: 40px;
  box-shadow: $box-shadow;
  margin-bottom: 48px;
  .portfolio-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    .monitor {
      width: 212px;
    }
    time {
      font-size: 14px;
      font-weight: bold;
      color: $color-text-dark;
      margin-top: 24px;
    }
    .project-title {
      font-size: 30px;
      font-weight: 700;
      margin: 16px 0 8px 0;
    }
    .project-description {
      font-size: 16px;
      color: $color-text-medium;
      margin: 0;
    }  
    .project-buttons {
      display: flex;
      justify-content: space-between;
      align-content: center;
      a {
        width: 170px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        &:first-of-type {
          margin-right: 12px;
        }
      }
    }
    .technologies-used {
      width: 100%;
      margin: 24px 0;
      ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
        li {
          border: 3px solid $color-primary;
          border-radius: $border-radius;
          padding: 2px 8px;
          font-size: 10px;
          font-weight: $font-weight-heading;
        }
      }
    }
  }
}

.featured-projects,
.skills {
  padding-top: 48px;
}

.featured-projects .card:last-of-type {
  margin-bottom: 0;
}

%btn {
  color: $white;
  display: inline-block;
  font-size: 16px;
  font-weight: $font-weight-body;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  transition: $transition-duration;
  &:hover {
    color: $white;
  }
  &:active {
    opacity: initial;
  }
}

.img-icon {
  vertical-align: middle;
}

.btn {
  &-github {
    @extend %btn;
    background-color: white;
    color: $color-secondary;
    .img-icon {
      margin-left: 10px;
    }
    &:hover {
      background-color: $color-primary;
      color: $white;
      .img-icon path {
        fill: $white;
      }
    }
  }
  &-demo {
    @extend %btn;
    background-color: $color-secondary; 
    color: $white; 
    &:hover {
      color: $white;
      background-color: $color-primary;
      .img-icon path {
        fill: $white;
      }
    }
  }
}

// =========================================
//  MEDIA QUERIES
// =========================================

@media (min-width: $breakpoint-medium) {
  .main-content {
    display: flex;
    flex-wrap: wrap;
  }  
  .card {
    flex: 1;
  }
}

@media (min-width: $breakpoint-large) {
  .main-content {
    @include center;
  }
}

@media (min-width: $breakpoint-x-large) {
  header {
    background-position: 0 0, 0 45%;
  }
  .intro {
    width: 45%;
  }
}
